@media only screen and (min-width: 600px) and (max-width: 810px){
.container{
    width: 32%;
    justify-content: center;
    align-content: center;
  }
/*Gallery on Long-Term Missionary*/
.row{
    display: flex;
    flex-flow: column wrap;
}
.column {
    float: none;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 100%;
    padding: 10px;
    max-width: 400px;
}
.column img {
    margin-top: 12px;
    max-width: 400px;
}

/*Wedding Reception*/
.tester img{
    float: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.tester p, .tester h3{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}       
.servicesImg{
    display: block;
    max-width: 500px;
    height: auto;
}
#hotelBackground{
    background: none;
}
#pinkBackground{
    background-color: rgb(177, 130, 128, .3);
    font-size: 3.5em;
    margin-left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: .2em;
    width: 6em;
}
    
/*specialized services*/
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin-left: auto;
    margin-right: auto;
}
.grid img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.caption{
    font-weight: 300;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}
}
